@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 20%;
  width: 100%;
  min-height: 80px;
  max-height: 140px;
}

.App-main {
  background: linear-gradient(#f2f2f2, 10px, #f9f9f9);
  width: 100%;
  height: 80%;
}

.App-content {
  width: 90%;
  margin: 0 auto;
  padding: 10% 0;
}

.Content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Content-title {
  display: inline-block;
  font-weight: lighter;
  font-size: 3em;
  color: #4a4a4a;
}

.Content-add-user-btn {
  background-color: #12c1c7;
  color: #ffffff;
  border-color: #0e9a9f;
  border-radius: 4px;
  padding: 12px 18px;
  font-weight: bold;
  font-size: 0.9em;
}